<%- include('../partials/header') %>
<h1>Index page of Questions</h1>

<% for(questions of job.questions){%>
    <div><%= questions.titel %></div>
    <div><%= questions.option1 %></div>
    <div><%= questions.option2 %></div>
    <div><%= questions.option3 %></div>
    <div><%= questions.option4 %></div>
    <div><%= questions.correctAns %></div>
    <a href="/jobs/<%= job._id %>/questions/<%= questions._id %>">Edit</a>
    <form action="/jobs/<%= job._id %>/questions/<%= questions._id %>?_method=delete" method="post">
    <input type="submit" value="Delete">
    </form>
<%} %>
<a class="btn btn-outline-success me-3" href="/jobs/<%= job._id %>/questions/new">Add New Questions<strong>+</strong></a>

<%- include('../partials/footer') %>